body
{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    text-align: center;
}
.center
{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#boxW
{
    background-color: white;
    border-radius: 13px;
    height: 370px;
    width: 225px;

    border: white;
    border-style: solid;
    border-width: 13px;

}
img
{
    border-radius: 13px;
    height: 225px;
}
h2
{
    color: hsl(218, 44%, 22%);
    font-size: 1.1rem;
    font-weight: 700;
}
p
{
    color: hsl(220, 15%, 55%);
    font-size: 0.84rem;
    font-weight: 400;
}